<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{url_for('static', filename='chat.css')}}"></script>
</head>
<body>

<div class="sidebar">
    <h2>Users</h2>
    {% for user in users %}
        <div class="user" onclick="selectUser({{ user.id }}, {{ user.username | tojson }})">
            {{ user.username }}
        </div>
    {% endfor %}
</div>

<div class="chat-area">
    <div class="messages" id="messages"></div>

    <div class="input-box">
        <input type="text" id="messageInput" placeholder="Type a message..." disabled>
        <button onclick="sendMessage()" id="sendBtn" disabled>Send</button>
    </div>
</div>

<script>
    const CURRENT_USER_ID = {{ current_user | tojson }};
</script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
