<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='credits.css') }}">
    <title> Legal Notice | Membership Monarch </title>
</head>

<body>

    <div class="container">
        <h1>Legal Notice</h1>

        <h2>No Affliation</h2>
        <p>Membership Monarch is not affliated with any celebrities or agencies unless stated.</p>

        <h2>Verification Disclaimer</h2>
        <p>Verification confirms identity checks only and does not imply endorsement.</p>

        <h2>Liability</h2>
        <p>We are not responsible for user interactions or offline meetings.</p>

        <h2>Intellectual Property</h2>
        <p>All branding and content belongs to Membership Monarch.</p>

        <h2>Legal Contact</h2>
        <p>Email....</p>
        <!--TBD!-->
    </div>
    
</body>
</html>