<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='credits.css') }}">
    <title>Terms of Service | Membership Monarch</title>
</head>

<body>
    <div class="container">
        <h1>Terms of Service</h1>
        <p class="updated">Last updated: January 2026</p>

        <p>
            Welcome to <strong>CelebConnect</strong>. By accessing or using this platform, you agree to these Terms of Service.
        </p>

        <h2>1. Eligibility</h2>
        <p>You must be at least 18 years old to use CelebConnect.</p>
        
        <h2>2. Account Responsibility</h2>
        <p>You are responsible for all activity that occurs under your account.</p>

        <h2>3. VIP & Verification</h2>
        <p>VIP access and verification are granted at our discretion and may be revoked.</p>

        <h2>4. User Conduct</h2>
          <p>Impersonation, harassments, scams or illegal use of the platform is prohibited.</p>

        <h2>5. Termination</h2>
        <p>We reserve the right to suspend or terminate account that violate these terms.</p>

        <h2>6. Discslaimer</h2>
        <p>Membership Monarch does not guarantee matches or relationships.</p>

        <h2> 7. Contact</h2>
        <p></p>
        <!--When i get a domain, i'll fill this in.-->
    </div>
    
</body>
</html>