<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create a VIP account to access premium features without restricition.">
    <link rel="stylesheet" href="{{ url_for('static', filename='vip.css') }}">
    <title>VIP Access | Membership Monarch</title>
</head>

<body>
    <!--Header-->
    <header class="vip-header">
   <h1>VIP Access</h1>
   <p>Where real celebrities and verified elites connect.</p>
   </header>

   <!--VIP Benefits-->
   <section class="vip-benefits">

    <div class="vip-card">
        <h3>Verified Celebrities</h3>
        <p>Only real verified public figures and elite members.</p>
    </div>

    <div class="vip-card">
        <h3>Direct Messaging</h3>
        <p>Message VIP's without restrictions and delays.</p>
    </div>

    <div class="vip-card">
        <h3>Priority Matching</h3>
        <p>Your profile appears first in VIP Matching.</p>
    </div>

    <div class="vip-card">
        <h3>Privacy Control</h3>
        <p>Hide profile from non-VIP members</p>
    </div>

   </section>

   <section class="vip-action">
        <h2>Become VIP</h2>

        <a href="/pricing" class="vip-btn" target="_blank">Upgrade to Premium</a>
        
    </section>

</body>

</html>